img {
    width: 100%;
}

#header_grid {
    display: grid;
    grid-auto-flow: column;
    height: 60px;
    align-items: center;
    justify-items: start;
}

#logo_img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#nav_header {
    justify-self: end;

}

#main_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#footer_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    box-shadow: 2px 2px 5px black;
}